# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Vishva Projects\tdd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
